<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Головна</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="main-page">

  <header class="main-header">
    <h1>Вітаємо на сайті автолюбителів!</h1>
    <nav class="main-nav">
      <a href="/login">Вхід</a>
      <a href="/register">Реєстрація</a>
      <a href="/ai">Питання до ШІ</a>
      <a href="/game">Гра</a>
      <a href="/pdr">ПДР-гра</a>
    </nav>
  </header>

  <section class="intro">
    <p>Ласкаво просимо до сайту для фанатів автомобілів!</p>
    <p>Вгадай марку машини по фото,</p>
    <p>Став питання штучному інтелекту,</p>
    <p>Перевір знання знаків у міні-грі по ПДР.</p>
    <p>Щоб переглянути каталог авто — увійди або зареєструйся.</p>
  </section>

<div class="fence-left">
    <img src="/static/images/audi.jpg" alt="Audi">
    <img src="/static/images/pagani.jpg" alt="Pagani">
    <img src="/static/images/alfa_romeo.jpg" alt="Alfa Romeo">
</div>

<div class="fence-right">
    <img src="/static/images/BMW.jpg" alt="BMW">
    <img src="/static/images/mersedes.jpg" alt="Mercedes">
    <img src="/static/images/porsche.jpg" alt="Porsche">
</div>

  <footer class="main-footer">
    <p>Дякуємо за візит! Гарного вам дня на нашому сайті.</p>
  </footer>

</body>
</html>