<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Головна</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Вітаємо на сайті</h1>
  <nav>|
    <a href="/login" class="no-underline">Вхід</a> |
    <a href="/register" class="no-underline">Реєстрація</a> |
    <a href="/ai" class="no-underline">Питання</a> |
    <a href="/game" class="no-underline">Гра</a> |
    <a href="/pdr" class="no-underline">ПДР-гра</a> |
  </nav>
  <p>Це головна сторінка сайту.</p>
  <p>Цей сайт створено для фанатів машин, тут у нас можна пограти у гру"Вгадай машину по фото", чи щось спитати у Штучного інтелекту.</p>
  <p>Також тут є міні-гра по ПДР, можна перевірити знання про знаки дорожнього руху.</p>
  <p>Для перегляду машин Вам потрібно зареєструватись або увійти в акаунт. Дякую за Ваш візит на сайт.</p>
</body>
</html>