<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Увійти</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Вхід до системи</h1>
    <form method="post">
  <input name="username" placeholder="Ім’я" required>
  <input name="password" type="password" placeholder="Пароль" required>
  <button type="submit">Увійти</button>
</form>
    <p>Ще не маєш акаунту? <a href="/register">Зареєструйся</a></p>
  </div>
</body>
</html>